﻿@{
    ViewBag.Title = "Lendfoundry Rules Test Client Home Page";
}

<div class="text-center">
    <h1>Lendfoundry Rules Engine</h1>
    <p class="lead">TEST HARNESS</p>
</div>

<div>
    <table class="table-bordered" align="center">
        <thead>
            <tr>
                <th class="text-center">
                    <b>Rule API</b>
                </th>
            </tr>
        </thead>
        <tr>
            <td>@Html.ActionLink("Create Rule", "CreateRule", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Update Rule", "UpdateRule", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Get Rule Details", "GetRuleDetails", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Get All Rules", "GetAllRules", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Delete Rule", "DeleteRule", "Rule")</td>
        </tr>
    </table>
</div>

<div>
    <table class="table-bordered" align="center">
        <thead>
            <tr>
                <th class="text-center">
                    <b>Variables API</b>
                </th>
            </tr>
        </thead>
        <tr>
            <td>@Html.ActionLink("Create Variable", "CreateVariable", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Update Variable", "UpdateVariable", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Get Variable Details", "GetVariableDetails", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Get All Variables", "GetAllVariables", "Rule")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Delete Variable", "DeleteVariable", "Rule")</td>
        </tr>
    </table>
</div>